#habilidades {
    padding-top: 0;
    margin-top: 0 !important;
}

#habilidades{
    background-color: #cdeaff;
}

#habilidades .container .text-font {
    font-size: 15px;
    text-align: justify;    
}

#habilidades .title {
    font-weight: bold;
}

#habilidades .shadow-hab {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
    transition: box-shadow 0.3s ease-in-out; /* Animação para a sombra */
}

#habilidades .shadow-hab:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15); /* Sombra mais pronunciada ao passar o mouse */
}


