/* Linha principal */
#mural .container {
  padding: 100px 0;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

/* Linha e coluna da sessão */
.row .column{
  flex: 22.2%;
  padding-top: 30px;
  overflow: hidden;
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  
}

/* Sessao das imagens do mural */
.row .column .foto_mural{
  width: 100%;
  margin: 10px 0;
  filter: grayscale(1) brightness(.7);
  transition: .2s all linear;
  box-shadow: 10px 10px 24px -12px rgba(0,0,0,0.75);  
}

/* Sessao das imagens do mural - ao passar do mouse */
.row .column .foto_mural:hover{
  filter: grayscale(0) brightness(1);
  box-shadow: inset 10px 10px 24px -12px rgba(0,0,0,0.75);
  transform: scale(1.1);
}

/* Sessão do texto - Div superior */
.text-wrap {
  position: relative;
}

/* Sessão do texto - ao passar do mouse */
.text-wrap:hover h2 {
  opacity: 1;
  visibility: visible;
}

/* Sessão do Texto - Palavra escrita */
.text-wrap h2 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); 
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 1440px){
  #mural .container {
    padding: 250px 0;
  }
}

@media (max-width: 1200px){
  #mural .container {
    padding: 100px 0;
  }
}

@media (max-width: 992px){
    #mural .container {
      padding: 70px 0;
    }
    .row .column{
      flex: 33.33%;
      padding: 30px 5px;
    }  

  }

@media (max-width: 768px){
  #mural .container {
    padding: 30px 0;
  }
  .row .column{
    flex: 25%;
  }
}

@media (max-width: 576px){
  #mural .container {
    padding: 40px 0;
  }
  .row .small-column {
    flex: 25%; 
    /* padding: 5px 3px; */
  }

  .text-wrap .text h2 {
    font-size: 12px;
  }

  .row .column .foto_mural {
    width: 100%; 
    margin: 3px 5px;
  }
}

@media (max-width: 425px) {
  /* Ajuste o container do mural */
  #mural .container {
    display: none; 
  }

}

@media (max-width: 375px) {
  /* Ajuste o container do mural */
  #mural .container {
    display: none;  
  }
}




