/* Linha principal */
/* .container {
  padding: 70px 0;
} */

.card-img-top {
  object-fit: cover;   
}

/* Sessao dos cards do mural - ao passar do mouse */
.card {
  transition: all 0.3s ease;
}
.card-img-top {
  filter: grayscale(0) brightness(1); 
  transition: all 0.3s ease;
}
.card:hover .card-img-top {
  filter: grayscale(1) brightness(0.7);
}
.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2); 
  opacity: 0;
  transition: opacity 0.3s ease; 
}
.card:hover .card-img-overlay {
  opacity: 1;
}
.overlay-text {
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
}


@media (max-width: 1440px) { 
  .container {
    padding: 100px 0;
  }
}

@media (max-width: 425px) {  
  #mural .container {
    display: none; 
  }

}

@media (max-width: 375px) {  
  #mural .container {
    display: none;  
  }
} 




