/* Linha principal */
#mural .container {
  padding: 100px 0;
}

.smaller-card {
  max-width: 500px; /* Ajuste este valor conforme necessário */
  margin: 0 auto; /* Centraliza o card horizontalmente */
}
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 225px;
}

/* Sessão dos cartões */
.row .column .card {
  width: 100%;
  max-width: 250px; 
  margin-bottom: 20px;
}

/* Imagens dentro dos cartões */
.row .column .card-img-top {
  width: 100%;
  height: 50px; 
  /* object-fit: cover; */
  margin: 0 auto;
}

/* Sessao dos cards do mural - ao passar do mouse */
.card {
  transition: all 0.3s ease;
}

.card-img-top {
  filter: grayscale(0) brightness(1); /* Estado padrão */
  transition: all 0.3s ease;
}

.card:hover .card-img-top {
  filter: grayscale(1) brightness(0.7);
}

.text-justify {
  text-align: justify;
}

.card-img-wrapper {
  position: relative;
}

.card-img-top {
  display: block; 
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2); /* Fundo semi-transparente para melhor visibilidade do texto */
  opacity: 0;
  transition: opacity 0.3s ease; /* Suaviza a transição de visibilidade */
}

.card:hover .card-img-overlay {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 5px;
}


@media (min-width: 1440px){
  #mural .container {
    padding: 250px 0;
  }
  .row .column {
    flex: 1 0 30%;
  }
}

@media (max-width: 1200px){
  #mural .container {
    padding: 100px 0;
  }
}

@media (max-width: 992px){
    #mural .container {
      padding: 70px 0;
    }
    .row .column{
      flex: 1 0 25%;
    }  

  }

@media (max-width: 768px){
  #mural .container {
    padding: 30px 0;
  }
  .row .column{
    flex: 0 0 50%;
  }
}

@media (max-width: 576px){
  #mural .container {
    padding: 40px 0;
  }
  .row .small-column {
    flex: 1 0 50%;
  }

  .text-wrap .text h2 {
    font-size: 12px;
  }

  .row .column .foto_mural {
    width: 90%; 
    margin: 3px 5px;
    
  }
}

@media (max-width: 425px) {
  
  #mural .container {
    display: none; 
  }

}

@media (max-width: 375px) {
  
  #mural .container {
    display: none;  
  }
}




