#servicos_emp {
  background-color:#8883838a;
}

/* #F9F9F9, #03073e*/

#servicos_emp  .title {
    font-weight: bold;
    color:#03073e;
}

#servicos_emp  .texto_inicio{
    text-align: justify;
    color:#03073e;
}

#servicos_emp  h3, 
#servicos_emp  p {
  color:#03073e;
}

/* Serviços Empresariais */
/* Area de Imagem - Fundo branco */
.caixa-conteudo .row .caixa img {
    border-radius: 0 0 0.7rem 0.7rem;
    box-shadow: 0 0.5rem 1rem rgba(168, 162, 162, 0.344);     
  }  
  
.paragrafo_centro {
    text-align: justify;
}

.img_order .caixa {
  text-align: center; 
}

.img_order img {
  max-width: 50%; /* Reduz a largura máxima da imagem para 50% */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
  margin: 0 auto; 
}

  
  /* Cor de fundo das sessoes 1 e 3 das fotos empresariais
  #67b0d1 
  #d1cfcf*/
  .bg-full-width {
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {    
    .caixa-conteudo {
    display: flex;
    flex-direction: column;
   }

   .caixa-conteudo .row {
    flex-direction: column;
   }

    .caixa-conteudo .col-md-6.mb-3 {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .img_order {
      order: 1;
    }

    .img_order img {
      width: 100%;
      max-width: 250px; 
      height: auto;
      display: block;
      margin: 0 auto;
      
  }

    .texto_order {
      order: 2;
    }

    .caixa-conteudo .col-md-6.mb-3 img {
        width: 100%;
        height: auto;
    }

    .d-lg-block {
        display: none;
    }

  }

  @media (max-width: 425px) {
    #servicos_emp  .texto_inicio{
      font-size: 13px;
    }

    .paragrafo_centro {
      font-size: 13px;
    }
  }
  
  .bg-full-width:hover {
    background: #03073e;
    background-size: cover;
  }
  
  /* Imagens */
  .img_card {
    transition: transform 0.4s ease;
  }
  
  .img_card:hover {
    transform: scale(0.9);
  }
  
  
  